<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.AppInfoDao">
	<resultMap id="AppInfoPoMap" type="com.timeline.vpn.model.po.AppInfoPo">
	
	</resultMap>
	
	<select id="getAll" resultMap="AppInfoPoMap">
		select * from vpn.appinfo where type="APP"
	</select>
	<select id="getAllDon" resultMap="AppInfoPoMap">
		select * from vpn.appinfo where type="DON"
	</select>
</mapper>
