<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.SexTempRecommendDao">
	<resultMap id="RecommendMap" type="com.timeline.vpn.model.po.RecommendPo">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="actionUrl" property="actionUrl" />
		<result column="img" property="img" />
		<result column="desc" property="desc" />
		<result column="color" property="color" />
		<result column="rate" property="rate" />
		<result column="imgPath" property="imgPath" />
		<result column="type" property="type" />
		<result column="adsShow" property="adsShow" />
		<result column="adsPopShow" property="adsPopShow" />
		<result column="showType" property="showType" />
	</resultMap>
	<resultMap id="RecommendCustomeMap" type="com.timeline.vpn.model.po.RecommendPo">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="actionUrl" property="actionUrl" />
		<result column="img" property="img" />
		<result column="desc" property="desc" />
		<result column="color" property="color" />
		<result column="rate" property="rate" />
		<result column="imgPath" property="imgPath" />
		<result column="type" property="type" />
		<result column="adsShow" property="adsShow" />
		<result column="adsPopShow" property="adsPopShow" />
		<result column="showType" property="showType" />
		<result column="name" property="name" />
		<result column="createTime" property="createTime" />
	</resultMap>
	<select id="getAll" resultMap="RecommendMap">
		select * from vpn.recommend_sex where enable=1 order by sort asc
	</select>
	<select id="getPage" resultMap="RecommendMap">
		select * from vpn.recommend_sex where enable=1 and type &lt;= #{type} order by sort asc
	</select>
	<select id="getRecoPage" resultMap="RecommendMap">
		select * from vpn.recommendReco_sex where enable=1 order by sort asc
	</select>
	<select id="getVipPage" resultMap="RecommendMap">
		select * from vpn.recommendVip_sex_temp where enable=1 order by sort asc
	</select>
	<select id="get" resultMap="RecommendMap">
		select * from vpn.recommend_sex where enable=1
	</select>
	<select id="getCustomePage" resultMap="RecommendCustomeMap">
		select * from vpn.recommendCustome where name=#{name} and enable=1 order by createTime desc
	</select>
	<select id="getCustomeAllPage" resultMap="RecommendCustomeMap">
		select * from vpn.recommendCustome order by createTime desc
	</select>
	<select id="getLocal" resultMap="RecommendCustomeMap">
		select * from vpn.recommend_local order by createTime desc
	</select>
	<insert id="replaceCustome">
	    replace into
		vpn.recommendCustome(id,title,actionUrl,name,createTime,color)
		values
		(#{id},#{title},#{actionUrl},#{name},#{createTime},#{color})
	</insert>
	<delete id="delCustome">
	    delete from vpn.recommendCustome where id=#{id}
	</delete>
</mapper>
