<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.BlackDevDao">
	<resultMap id="BlackDevPoMap" type="BlackDevPo">
	
	</resultMap>
	
	<select id="get" resultMap="BlackDevPoMap">
		select * from vpn.blackdev where devId=#{devId}
	</select>
</mapper>
