<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.DevUseinfoDao">
	<resultMap id="DevUseinfoPoMap" type="DevUseinfoPo">
		<id column="devId" property="devId" />
		<result column="platform" property="platform" />
		<result column="version" property="version" />
		<result column="creatTime" property="creatTime" />
		<result column="lastUpdate" property="lastUpdate" />
	</resultMap>
	<insert id="replace">
		replace into
		vpn.devuseinfo(devId,platform,version,creatTime,lastUpdate)
		values
		(#{devId},#{platform},#{version},#{creatTime},#{lastUpdate})
	</insert>
	<select id="get" resultMap="DevUseinfoPoMap">
		select * from vpn.devuseinfo where devId=#{devId}
	</select>
	<select id="getAll" resultMap="DevUseinfoPoMap">
		select * from vpn.devuseinfo
	</select>
	<update id="update">
	    update vpn.devuseinfo 
			<set>
				<if test="lastUpdate != null">
					lastUpdate = #{lastUpdate},
				</if>
				<if test="version != null">
					version = #{version},
				</if> 
				<if test="platform != null">
					platform = #{platform},
				</if> 
			</set>
			where devId = #{devId}
	</update>
</mapper>
