<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.DomainDao">
	<resultMap id="DomainPoMap" type="DomainPo">
	
	</resultMap>
	
	<select id="getList" resultMap="DomainPoMap">
		select * from vpn.domaininfo where channel=#{channel}
	</select>

</mapper>
