<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.ImgChannelDao">
	<resultMap id="ImgChannelMap" type="ImgChannelPo">
	<result column="pic" property="pic" typeHandler="imgHandle"/>
	</resultMap>
	<resultMap id="ImgItemsMap" type="ImgItemsPo">
	<result column="pic" property="pic" typeHandler="imgHandle"/>
	</resultMap>
	<resultMap id="ImgItemsItemMap" type="ImgItemsItemPo">
	<result column="picUrl" property="picUrl" typeHandler="imgHandle"/>
	</resultMap>
	<select id="getAll" resultMap="ImgChannelMap">
	    select * from vpn.imgchannel where enable=1 group by name order by id desc
	</select>
	<select id="getChannel" resultMap="ImgChannelMap">
	    select * from vpn.imgchannel where enable=1
	    <if test="channel != null">
			and channel = #{channel}
		</if>
		group by name order by id desc
	</select>
	<select id="getByChannel" resultMap="ImgItemsMap">
	    select * from vpn.imgitems where 1=1
	    <if test="channel!=null">
	        and channelName=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and name like CONCAT('%',#{keyword},'%')
	    </if> 
	    order by sortType desc,id asc
	</select>
	<select id="getByUrl" resultMap="ImgItemsMap">
	    select * from vpn.imgitems where url=#{url} limit 1
	</select>
	<select id="getItem" resultMap="ImgItemsItemMap">
	    select * from vpn.imgitems_item where itemUrl=#{itemUrl}
	</select>
</mapper>
