<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.RadUserCheckDao">
	<resultMap id="RadCheckMap" type="RadCheck">
		<id column="id" property="id" />
		<result column="username" property="userName" />
		<result column="attribute" property="attribute" />
		<result column="op" property="op" />
		<result column="value" property="value" />
	</resultMap>
	<resultMap id="RadUserGroupMap" type="RadUserGroup">
		<id column="username" property="userName" />
		<result column="groupname" property="groupName" />
		<result column="priority" property="priority" />
	</resultMap>
	<insert id="replaceUserPass">
		replace into
		radius.radcheck(username,attribute,op,value)
		values
		(#{userName},#{attribute},#{op},#{value})
	</insert>
	<insert id="replaceUserGroup">
		replace into
		radius.radusergroup(username,groupname,priority)
		values
		(#{userName},#{groupName},#{priority})
	</insert>
	<select id="getUserPass" resultMap="RadCheckMap">
		select * from radius.radcheck where username=#{userName}
	</select>
</mapper>
