<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.ServerDao">
	<resultMap id="ServerPoMap" type="ServerPo">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="pwd" property="pwd" />
		<result column="expire" property="expire" />
		<result column="type" property="type" />
	</resultMap>
	<insert id="insert">
		insert into
		server(name,expire,type,pwd)
		values
		(#{name},#{expire},#{type},#{pwd})
	</insert>
	<select id="get" resultMap="ServerPoMap">
		select * from server where type=#{type}
	</select>
	<select id="getAll" resultMap="ServerPoMap">
		select * from server
	</select>
	
</mapper>
