<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.SoundChannelDao">
	<resultMap id="SoundChannelMap" type="SoundChannel">
	</resultMap>
	<resultMap id="SoundItemsMap" type="SoundItems">
	</resultMap>
	<select id="getAll" resultMap="SoundChannelMap">
	    select * from vpn.soundchannel  where enable=1
	</select>
	<select id="getByChannel" resultMap="SoundItemsMap">
	    select * from vpn.sounditems where 1=1
	    <if test="channel!=null">
	        and channel=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and name like CONCAT('%',#{keyword},'%')
	    </if>
	    order by LENGTH(name)asc,name asc
	</select>
	
	<select id="getByChannelById" resultMap="SoundItemsMap">
	    select * from vpn.sounditems where 1=1
	    <if test="channel!=null">
	        and channel=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and name like CONCAT('%',#{keyword},'%')
	    </if>
	    order by sortType desc , id desc
	</select>
</mapper>
