<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.TextChannelDao">
	<resultMap id="TextChannelMap" type="TextChannelPo">
	</resultMap>
	<resultMap id="TextItemsMap" type="TextItemsPo">
	</resultMap>
	<resultMap id="TextItemMap" type="TextItemPo">
	    <result property="file" column="file" javaType="String" jdbcType="BLOB"/>
	</resultMap>
	<select id="getAll" resultMap="TextChannelMap">
	    select * from vpn.textchannel
	</select>
	<select id="getByChannel" resultMap="TextItemsMap">
	    select id,name,channel,url,updateTime,fileDate from vpn.textitems where 1=1
	    <if test="channel!=null">
	        and channel=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and name like CONCAT('%',#{keyword},'%')
	    </if>
	    order by sortType desc,id asc
	</select>
	<select id="getFile" resultMap="TextItemMap">
	    select * from vpn.textitems_item where id=#{id}
	</select>
</mapper>
