<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.UserDao">
	<resultMap id="UserMap" type="UserPo">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="pwd" property="pwd" />
		<result column="sex" property="sex" />
		<result column="level" property="level" />
		<result column="time" property="time" />
		<result column="score" property="score" />
		<result column="email" property="email" />
		<result column="paidStartTime" property="paidStartTime" />
		<result column="paidEndTime" property="paidEndTime" />
		
	</resultMap>
	<insert id="insert">
		insert into
		vpn.user(name,pwd,sex,level,time,email)
		values
		(#{name},#{pwd},#{sex},#{level},#{time},#{email})
	</insert>
	<select id="exist" resultMap="UserMap">
		select * from vpn.user where name=#{name}
	</select>
	<select id="get" resultMap="UserMap">
		select * from vpn.user where name=#{name} and pwd=#{pwd}
	</select>
	<update id="score">
	    update vpn.user set score=score+#{score} where name=#{name}
	</update>
	<update id="updateLevel">
	    update vpn.user set level=#{level} where name=#{name} and level &lt; 3
	</update>
	<update id="updateLevelPaid">
	    update vpn.user set level=0 where level=3 and paidStartTime &gt;= #{start} and paidEndime &lt;= #{end}
	</update>
	<update id="updateEmail">
	    update vpn.user set email=#{email} where name=#{name}
	</update>
	<update id="minusScore">
	    update vpn.user set score=score-150 where score &gt;= 150
	</update>
	<update id="initUserVip">
	    update vpn.user set level=0 where score &lt; 2100 and level &lt; 3
	</update>
	<update id="initUserVip1">
	    update vpn.user set level=1 where score &gt;= 2100 and score &lt; 4100 and level &lt; 3
	</update>
	<update id="initUserVip2">
	    update vpn.user set level=2 where score &gt;= 4100 and level &lt; 3
	</update>
</mapper>
