<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.UserDao">
	<resultMap id="UserMap" type="UserPo">
		<id column="id" property="id" />
	</resultMap>
	<insert id="insert">
		insert into
		vpn.user(name,pwd,sex,level,time,email,channel,paidStartTime,paidEndTime)
		values
		(#{name},#{pwd},#{sex},#{level},#{time},#{email},#{channel},#{paidStartTime},#{paidEndTime})
	</insert>
	<select id="exist" resultMap="UserMap">
		select * from vpn.user where name=#{name}
	</select>
	<select id="get" resultMap="UserMap">
		select * from vpn.user where name=#{name} and pwd=#{pwd}
	</select>
	<update id="score">
	    update vpn.user set score=score+#{score} where name=#{name}
	</update>
	<update id="updateLevel">
	    update vpn.user
	    <set>
				<if test="level != null">
					level = #{level},
				</if>
				<if test="score != null">
					score = #{score},
				</if> 
				<if test="paidStartTime != null">
					paidStartTime = #{paidStartTime},
				</if> 
				<if test="paidEndTime != null">
					paidEndTime = #{paidEndTime},
				</if> 
			</set>
		where name=#{name}
	</update>
	<update id="updateLevelPaid">
	    update vpn.user set level=0 where paidEndTime &lt;= #{end}
	</update>
	<update id="updateEmail">
	    update vpn.user set email=#{email} where name=#{name}
	</update>
	<update id="initUserVip1">
	    update vpn.user set level=1,score=score-2500,paidEndTime=#{time}  where score &gt;= 2500  and paidEndTime &lt;= #{end}
	</update>
	<update id="initUserVip2">
	    update vpn.user set level=2,score=score-4500,paidEndTime=#{time}  where score &gt;= 4500  and paidEndTime &lt;= #{end}
	</update>
</mapper>
