<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.UserDao">
	<resultMap id="UserMap" type="UserPo">
		<id column="id" property="id" />
	</resultMap>
	<insert id="insert">
		insert into
		vpn.user(name,pwd,sex,level,time,email,channel,paidStartTime,paidEndTime)
		values
		(#{name},#{pwd},#{sex},#{level},#{time},#{email},#{channel},#{paidStartTime},#{paidEndTime})
	</insert>
	<select id="exist" resultMap="UserMap">
		select * from vpn.user where name=#{name}
	</select>
	<select id="get" resultMap="UserMap">
		select * from vpn.user where name=#{name} and pwd=#{pwd}
	</select>
	<update id="score">
	    update vpn.user set score=score+#{score} where name=#{name}
	</update>
	<update id="updateLevel">
	    update vpn.user set level=#{level} where name=#{name} and level &lt; 3
	</update>
	<update id="updateLevelPaid">
	    update vpn.user set level=0 where level=3 and paidEndTime &lt;= #{end}
	</update>
	<update id="updateToLevelPaid">
	    update vpn.user set level=3, paidStartTime= #{start}, paidEndTime = #{end} where name=#{name}
	</update>
	<update id="updateEmail">
	    update vpn.user set email=#{email} where name=#{name}
	</update>
	<update id="minusScore">
	    update vpn.user set score=score-190 where score &gt;= 400
	</update>
	<update id="minusScoreEx">
	    update vpn.user set score=score-100 where score &gt;= 15000
	</update>
	<update id="initUserVip">
	    update vpn.user set level=0 where score &lt; 2500 and level &lt; 3
	</update>
	<update id="initUserVip1">
	    update vpn.user set level=1 where score &gt;= 2500 and score &lt; 4500 and level &lt; 3
	</update>
	<update id="initUserVip2">
	    update vpn.user set level=2 where score &gt;= 4500 and level &lt; 3
	</update>
	<update id="updateVpnbPaid">
	    update vpn.user set level=0 where paidEndTime &lt;= #{end} and channel='VPNB'
	</update>
</mapper>
