<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.VideoDao">
	<resultMap id="VideoMap" type="VideoPo">
		<id column="id" property="id" />
	</resultMap>
	<resultMap id="VideoChannelMap" type="VideoChannelPo">
		<id column="id" property="id" />
	</resultMap>
	<resultMap id="VideoUserItemMap" type="VideoUserItemPo">
		<id column="id" property="id" />
	</resultMap>
	<resultMap id="VideoUserMap" type="VideoUserPo">
		<id column="id" property="id" />
	</resultMap>
	
	<select id="getPage" resultMap="VideoMap">
	    select * from vpn.videoitems_1
	</select>
	<select id="getChannel" resultMap="VideoChannelMap">
	    select * from vpn.videochannel_1 where enable=1 and channelType=#{channelType} group by channel order by id desc
	</select>
	<select id="getOneChannel" resultMap="VideoChannelMap">
	    select * from vpn.videochannel_1 where enable=1 and channel=#{channel} limit 1
	</select>
	<select id="getChannelItems" resultMap="VideoMap">
	    select * from vpn.videoitems_1 
	    where 1=1 
		    <if test="channelType!=null">
		        and channelType=#{channelType}
		    </if> 
		    <if test="baseurl!=null">
		        and baseurl=#{baseurl}
		    </if> 
		    <if test="channel!=null">
		        and channel=#{channel}
		    </if> 
		    <if test="keyword!=null">
		        and LOWER(name) like CONCAT('%',#{keyword},'%')
		    </if>
	    order by sortType desc,id desc
	</select>
	<select id="getUsers" resultMap="VideoUserMap">
	    select * from vpn.video_user_1 where channel=#{channel} order by count desc
	</select>
	<select id="getUserByUserId" resultMap="VideoUserMap">
	    select * from vpn.video_user_1 where userId=#{userId} limit 1
	</select>
	<select id="getUserItems" resultMap="VideoUserItemMap">
	    select * from vpn.video_user_item_1
	    <where>
	   		 <if test="channel!=null">
		        channel=#{channel}
		    </if>
		     <if test="userId!=null">
		        and userId=#{userId}
		    </if>
		    
		    <if test="keyword!=null">
		        and LOWER(name) like CONCAT('%',#{keyword},'%')
		    </if>
	    </where>
	   
	    order by id desc
	</select>
	
	<select id="getTvChannel" resultMap="VideoChannelMap">
	    select * from vpn.video_tv_channel where enable=1 
	    <if test="channel!=null">
	        and channel=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and LOWER(name) like CONCAT('%',#{keyword},'%')
	    </if>
	</select>
	
	<select id="getTvItem" resultMap="VideoMap">
	    select * from vpn.video_tv_item where channel=#{channel}
	</select>
</mapper>
