<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timeline.vpn.dao.db.VideoDao">
	<resultMap id="VideoMap" type="VideoPo">
		<id column="id" property="id" />
	</resultMap>
	<resultMap id="VideoChannelMap" type="VideoChannelPo">
		<id column="id" property="id" />
	</resultMap>
	<resultMap id="VideoUserItemMap" type="VideoUserItemPo">
		<id column="id" property="id" />
	</resultMap>
	<resultMap id="VideoUserMap" type="VideoUserPo">
		<id column="id" property="id" />
	</resultMap>
	
	<select id="getPage" resultMap="VideoMap">
	    select * from vpn.videoitems
	</select>
	<select id="getChannel" resultMap="VideoChannelMap">
	    select * from vpn.videochannel where enable=1 and channelType=#{channelType} group by channel
	</select>
	<select id="getOneChannel" resultMap="VideoChannelMap">
	    select * from vpn.videochannel where enable=1 and channel=#{channel} limit 1
	</select>
	<select id="getChannelItems" resultMap="VideoMap">
	    select i.* from vpn.videoitems i ,vpn.videochannel c where i.channel=c.channel and c.enable=1 and c.channelType=#{channelType} and i.enable=1 
	    <if test="channel!=null">
	        and i.channel=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and i.name like CONCAT('%',#{keyword},'%')
	    </if>
	    group by i.path order by sortType desc,updateTime asc
	</select>
	<select id="getUsers" resultMap="VideoUserMap">
	    select * from vpn.video_user order by count desc
	</select>
	<select id="getUserItems" resultMap="VideoUserItemMap">
	    select * from vpn.video_user_item where userId=#{userId}
	</select>
	
	<select id="getTvChannel" resultMap="VideoChannelMap">
	    select * from vpn.video_tv_channel where enable=1 
	    <if test="channel!=null">
	        and channel=#{channel}
	    </if> 
	    <if test="keyword!=null">
	        and name like CONCAT('%',#{keyword},'%')
	    </if>
	</select>
	
	<select id="getTvItem" resultMap="VideoMap">
	    select * from vpn.video_tv_item where channel=#{channel}
	</select>
</mapper>
