<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias alias="DevUseinfoPo" type="com.timeline.vpn.model.po.DevUseinfoPo" />
		<typeAlias alias="HostPo" type="com.timeline.vpn.model.po.HostPo" />
		<typeAlias alias="AppVersion" type="com.timeline.vpn.model.po.AppVersion" />
		<typeAlias alias="RecommendPo" type="com.timeline.vpn.model.po.RecommendPo" />
		<typeAlias alias="Version" type="com.timeline.vpn.model.po.AppVersion" />
		<typeAlias alias="LocationPo" type="com.timeline.vpn.model.po.LocationPo" />
		<typeAlias alias="UserPo" type="com.timeline.vpn.model.po.UserPo" />
		<typeAlias alias="IWannaPo" type="com.timeline.vpn.model.po.IWannaPo" />
		<typeAlias alias="RadCheck" type="com.timeline.vpn.model.po.RadCheck" />
		<typeAlias alias="RadUserGroup" type="com.timeline.vpn.model.po.RadUserGroup" />
		<typeAlias alias="DnsResverPo" type="com.timeline.vpn.model.po.DnsResverPo" />
		<typeAlias alias="Radacct" type="com.timeline.vpn.model.po.Radacct" />
		<typeAlias alias="RadacctState" type="com.timeline.vpn.model.po.RadacctState" />
		<typeAlias alias="CollectPo" type="com.timeline.vpn.model.po.CollectPo" />
		<typeAlias alias="SoundChannel" type="com.timeline.vpn.model.po.SoundChannel" />
		<typeAlias alias="SoundItems" type="com.timeline.vpn.model.po.SoundItems" />
		
		<typeAlias alias="TextChannelPo" type="com.timeline.vpn.model.po.TextChannelPo" />
		<typeAlias alias="TextItemsPo" type="com.timeline.vpn.model.po.TextItemsPo" />
		<typeAlias alias="TextItemPo" type="com.timeline.vpn.model.po.TextItemPo" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="mysql" />
			<property name="pageSizeZero" value="true" />
			<property name="reasonable" value="true" />
		</plugin>
	</plugins>
</configuration>
